/* 
 * base.scss
 * 凡是多个页面会同时使用到的样式全部放入该文件中 
 */

// //最长宽度
$max-width:1200px;
//最窄宽度
$min-width:1000px;
//测试用边框
$border:2px solid orange;
$r-border:2px solid red;
//按钮，tab等颜色
$main-color:#31c27c; //#B033FF app主题色
* {
    box-sizing: border-box;
}

li {
    list-style: none
}

img {
    border: 0 none;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality
}

input[type=button],
input[type=submit] {
    cursor: pointer
}

button {
    cursor: pointer
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #31c27c;
}

a:focus,
button:focus,
input:focus {
    outline: 0
}


/*超出省略号*/

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*清除浮动*/


/*<div class='clearfix'></div>*/

.clearfix:after {
    display: block;
    content: '';
    clear: both;
    height: 0;
}